{% load account %}
{% load customfilters %}
{% load cache %}
{% cache 500 header request.user.username request.user.siteuser.is_activated request.user.siteuser.is_editor %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}Заголовок{% endblock title %}</title>

        <!--Core theme CSS (includes Bootstrap)-->
        {% load static %}
        {% block style %}
            <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        {% endblock style %}
    </head>

    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">SuperRPG fan site. </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Категории</a>
                            <ul class="dropdown-menu">
                                {% for category in categories %}
                                   <li><a class="dropdown-item" href="/category/{{category.slug}}" >{{category.title}}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% if user.is_authenticated %}
                            {% if perms.guild_site.add_post %}
                                <li class="nav-item"><a class="nav-link" href="{% url 'new_post' %}">Добавить объяву</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url 'my_replies' %}">Мои отклики</a></li>
                            {% else %}
                                <li class="nav-item"><a class="nav-link" href="{% url 'verify_user' %}">Завершить регистрацию.</a></li>
                            {% endif %}

                            <li class="nav-item bg-info"><a class="nav-link text-black text-bold" href="{% url 'subscriptions' %}">Управление подписками.</a></li>
                            <li class="nav-item bg-success"><a class="nav-link" href="{% url 'account_logout' %}">Выход ({% user_display user %})</a></li>
                        {% else %}
                            <li class="nav-item bg-success"><a class="nav-link text-black text-bold" href="{% url 'account_login' %}">Вход</a></li>
                            <li class="nav-item bg-info"><a class="nav-link text-black text-bold" href="{% url 'account_signup' %}">Регистрация</a></li>
                        {% endif %}


                    </ul>
                </div>
            </div>
        </nav>

        <!-- Page content-->
       <div class="container">

               <div class="col-lg-12">
                   <h1>{{title}}</h1>
                   {% if user.is_authenticated %}
                        {% if not perms.guild_site.add_post %}
                            <h3 class="text-danger">Эй, ты! Да-да, ты!</h3>
                            <p class="text-center">Ты всё ещё не подтвердил свой аккаунт!</p>
                            <p class="text-center btn btn-danger"><a class="text-white" href="{% url 'verify_user' %}">Жми сюда скорее!</a></p>
                        {% endif %}
                   {% endif %}
                   {% endcache %}
                    {% block content %}
                        ......
                    {% endblock content %}
                {% cache 500 footer %}
               </div>
           </div>




           <div class="row">
               <div class="col-lg-12 text-center">
                   <hr>
                   <p>&copy; superrpgfan.site</p>
               </div>
           </div>

        <!-- Bootstrap core JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
{% endcache %}