
{% load customfilters %}
{% if not post.title %}

    <h2>С прискорбием сообщаем вам, что по вашему запросу ничего не найдено.</h2>
{% else %}
    {%if is_for_email %}
        {% include 'email_header.html' %}
    {% endif %}
    {% if not post and not posts %}
    <strong>Здесь пока не фига нет.</strong>
    {% endif %}
  <article class="post">
        <h3>{{ post.title }}</h3>
        <div class="post-badges">
            <span class="text-muted">автор:</span>
            <span class="badge rounded-pill bg-secondary">
                <a href="{{'/?author='|abs_url}}{{post.user.pk}}" class="text-white">{{ post.user }}</a>
            </span>
            <span class="badge rounded-pill bg-secondary">{{ post.created|date:'d M Y'|default:"из недалекого будущего" }}</span>
            <span class="text-muted">рубрика:</span>
            <span class="badge rounded-pill bg-info">
                <a href="{{''|abs_url}}{% url 'posts_by_category' post.category.slug %}" class="text-white">{{ post.category.title }}</a>
            </span>


        </div>
        <div class="post_content">
            {% if short_preview %}
                {{ post.body|truncatewords_html:30|no_naughty_words|safe }}
                <a class="badge pill bg-warning align-center" href="{{''|abs_url}}{% url 'show_post' post.category.slug post.pk %}">читать дальше</a>
            {% else %}
                {{ post.body|no_naughty_words|safe }}
            {% endif %}
        </div>

      {% if request.user.siteuser.is_editor or request.user.siteuser == post.user %}
        <div class="post-actions">
            <span class="text-muted">администрирование:</span>

            <span class="badge rounded-pill bg-info">
                <a href="{{''|abs_url}}{% url 'edit_post' post.pk %}" class="text-white">редактировать</a>
            </span>
            <span class="badge rounded-pill bg-danger">
                <a href="{{''|abs_url}}{% url 'delete_post' post.pk %}" class="text-white">УДОЛИТЬ!</a>
            </span>
            </div>
          {% endif %}



    </article>
<hr style="margin-top:10px">

    {%if is_for_email %}
        {% include 'email_footer.html' %}
    {% endif %}

{% if render_comments %}
    {% if request.user.siteuser.is_activated %}
      <div class="add_reply">
          <p><strong>{{reply_result|default:"Откликнуться на объявление."}}</strong></p>
          <form method="post" action="">
          {% csrf_token %}
          {{ reply_form.as_p }}
          <input type="submit" value="Отправить">
          </form>
      </div>

    {% endif %}
{%include 'replies.html' with replies=post.reply_set.all %}


    {% endif %}
    {% endif %}


