{% extends 'default.html' %}
{% load customfilters %}

{% block title %}
{{ view_title }}
{% endblock title %}


{% block content %}
<h2>{{ view_title }}</h2>
{% if not post %}
<div class="filters">
    <p>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters">
    Показать/скрыть фильтры.
  </button>
</p>
<div class="collapse" id="collapseFilters">
  <div class="card card-body">
      <form action="" method="get">
          {{ filterset.form.as_p }}
          <input type="submit" value="Фильтруем-с!">
      </form>
      <hr>
  </div>
</div>
{% endif %}
    {% if posts %}
        {% for post in posts %}
            {% include 'post.html' with render_comments=False short_preview=True %}
        {% endfor %}
    {% elif post %}
        {% include 'post.html' with render_comments=True short_preview=False %}
    {% endif %}

{% if page_obj.has_previous or page_obj.has_next %}

<div class="page_scroller">
     <span class="text-muted">страницы:</span>
   {% if page_obj.has_previous %}

<span class="badge rounded-pill bg-info"><a href="?{% url_replace page=1 %}">1</a></span>
       {% if page_obj.previous_page_number != 1 %}
           ...
<span class="badge rounded-pill bg-info"><a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a></span>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
<span class="badge rounded-pill bg-success">{{ page_obj.number }}</span>

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
<span class="badge rounded-pill bg-info"><a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a></span>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
<span class="badge rounded-pill bg-info"><a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a></span>
       {% endif %}
   {% endif %}
</div>
{% endif %}
{% endblock content %}
