{% extends 'default.html' %}
{% load customfilters %}

{% block title %}
{{ view_title }}
{% endblock title %}


{% block content %}
<h2>{{ view_title }}</h2>

    {% if posts %}
        {% for post in posts %}
            {% include 'post.html' with render_comments=False short_preview=True %}
        {% endfor %}
    {% elif post %}
        {% include 'post.html' with render_comments=True short_preview=False %}
    {% else %}
        <strong>Здесь пока не фига нет.</strong>
    {% endif %}
{% if posts.has_other_pages %}
    <nav>
      <ul class="pagination justify-content-center">
        {% if posts.has_previous %}
          <li class="page-item">
            <a class="page-link" href="{{ request.get_full_path|pagination_prepare}}page={{ posts.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
              <span class="page-link" aria-hidden="true">&laquo;</span>
          </li>
        {% endif %}

        {% for p in posts.paginator.page_range %}
          {% if posts.number == p %}
            <li class="page-item"><a class="page-link" style="color: red;" href="#">{{ p }}</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="{{ request.get_full_path|pagination_prepare}}page={{ p }}">{{ p }}</a></li>
          {% endif %}
        {% endfor %}

        {% if posts.has_next %}
          <li class="page-item">
            <a class="page-link" href="{{ request.get_full_path|pagination_prepare }}page={{ posts.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link" aria-hidden="true">&raquo;</span>
          </li>
        {% endif %}
    </ul>
    </nav>
  {% endif %}
{% endblock content %}
