
{% load customfilters %}
{% if not post.title %}

    <h2>С прискорбием сообщаем вам, что по вашему запросу ничего не найдено.</h2>
{% else %}
    {%if is_for_email %}
        {% include 'email_header.html' %}
    {% endif %}
  <article class="post">
        <h3>{{ post.title }}</h3>
        <div class="post-badges">
            <span class="text-muted">автор:</span>
            <span class="badge rounded-pill bg-secondary">
                <a href="{{'/?author='|abs_url}}{{post.author.pk}}" class="text-white">{{ post.author }}</a>
            </span>
            <span class="badge rounded-pill bg-secondary">{{ post.publication_date|date:'d M Y'|default:"из недалекого будущего" }}</span>
            <span class="text-muted">рубрика:</span>
            <span class="badge rounded-pill bg-info">
                <a href="{{'/?category='|abs_url}}{{post.category.pk}}" class="text-white">{{ post.category.title }}</a>
            </span>
            {% if not post.is_article %}
                <span class="badge rounded-pill bg-info">
                    <a href="{{''|abs_url}}{% url 'news_posts'%}" class="text-white">новости</a>
                </span>
            {% endif %}

        </div>
        <div class="post_content">
            {% if short_preview %}
                {{ post.content|truncatewords_html:30|no_naughty_words|safe }}
                <a class="badge pill bg-warning align-center" href="{{''|abs_url}}{% url 'show_post' post.pk %}">читать дальше</a>
            {% else %}
                {{ post.content|no_naughty_words|safe }}
            {% endif %}
        </div>
        <div class="post-tags">
            <span class="text-muted">теги:</span>
            {% for tag in post.tags.all %}
                <span class="badge rounded-pill bg-secondary">
                    <a href="{{'/?tags='|abs_url}}{{tag.pk}}" class="text-white">{{ tag.title }}</a></span>
            {% endfor %}
        </div>
      {% if perms.BBW.post_edit or perms.BBW.post_delete%}
        <div class="post-actions">
            <span class="text-muted">администрирование:</span>

            <span class="badge rounded-pill bg-info">
                <a href="{{''|abs_url}}{% url 'edit_post' post.pk %}" class="text-white">редактировать</a>
            </span>
            <span class="badge rounded-pill bg-danger">
                <a href="{{''|abs_url}}{% url 'delete_post' post.pk %}" class="text-white">УДОЛИТЬ!</a>
            </span>


        </div>
      {% endif %}
    </article>
<hr style="margin-top:10px">

    {%if is_for_email %}
        {% include 'email_footer.html' %}
    {% endif %}

{% if render_comments %}
<div class="comments">
    <p>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseComments" aria-expanded="false" aria-controls="collapseComments">
    Показать Комментарии.
  </button>
</p>
<div class="collapse" id="collapseComments">
  <div class="card card-body">

      {% for comment in post.comment_set.all %}

            <div class="comment-badges">
                <span class="text-muted">автор:</span>
            <span class="badge rounded-pill bg-secondary">{{ comment.user }}</span>
            <span class="badge rounded-pill bg-secondary">{{ comment.publication_date|date:'d M Y h:m'|default:"из недалекого будущего" }}</span>
                <span class="badge rounded-pill bg-danger"><a href="#" class="text-white">-</a></span>
                <span class="badge pill bg-secondary">{{ comment.updoot_count }}</span>
                <span class="badge rounded-pill bg-success"><a href="#" class="text-white">+</a></span>
            </div>
            <div class="comment-body">
                {{ comment.content |  no_naughty_words}}
                </div>
      <hr>
      {% endfor %}

</div>
</div>
    {% endif %}
    {% endif %}


